.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 500px;
    height: 200px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    display: inline-block;
    text-align: center;
  }
  .title2 {
    margin-left:none;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1px;
    cursor: pointer;
  }
  
  /* .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .modalContainer .footer button {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: rgb(17,107,143);;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer button:hover
  {
    background: rgb(17,107,143,0.8);
  }
  
  #cancelBtn {
    background-color: crimson;
    margin-top: 20px;
  }
  .modalContainer select 
  {
    margin-left: 25px ;
    width:55%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }