
  
  .details h1 {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .details h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .patient-details {
    width: 400px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 5px;
    border-radius: 5px;
  }
  .patient-details__header {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .patient-details__info {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  .patient-details__info__item {
    font-size: 16px;
    margin-bottom:10px;
  }
  .button {
    background-color:rgb(17,107,143) ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
  }
/*   
  .button:hover {
    background-color: rgb(17,107,143,0.8); ;
  } */
  
  .icon {
    margin-top: 20px;
    width: 50px;
    height: 50px;
  }
  
  .error {
    color: red;
    margin-top: 20px;
  }
  .treatments-heading {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  .treatment-container {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .disease-heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .medication-paragraph,
  .status-paragraph {
    margin-bottom: 0.5em;
  }
  
  .status-label {
    display: block;
    margin-top: 1em;
  }
  
  .status-checkbox {
    margin-right: 0.5em;
  }
  