
.wrapper5
  {
    margin-top: 60px;
    width:600px;
    margin-left: auto;
    margin-right: auto;
    padding:2rem 1rem;
    background-color: #fff;
    border-radius: center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  } 

/* .wrapper5 input[type]
{
  width: 85%;
  outline:none;
  border:1px solid #fff;
  padding:14px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  margin-left: 3rem;
  gap: 15px;
  background: #e4e4e4;
} */

.title{
  margin-left: 160px;
  margin-top: 3rem;
  margin-bottom: 2rem;

}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-box label {
}

.input-box input,
.input-box select {
  margin-left: 45px ;
  width:85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn9 {
  font-size: 1.1rem;
  margin-top: 1.8rem;
  margin-left: 145px;
  padding: 11px 0;
  border-radius: 10px;
  outline:none;
  border:none;
  width: 50%;
  color:#fff;
  cursor:pointer;
  background:rgb(17,107,143);
}

.btn9:hover{
  background: rgb(17,107,143,0.8);
} 

