* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../Assets/backgroundimage.jpg');
    background-size: cover;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  .hero {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: white;
  }
  
  .hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #1E90FF;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007FFF;
  }
  
  .features {
    margin-top: 50px;
  }
  
  .about {
    margin-top: 50px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .about h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  
  .contact {
    margin-top: 50px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .contact h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contact p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  .features {
    margin-top: 50px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  .features h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .features ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .features li {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .features li:hover {
    background-color: #ddd;
  }
  
  .features li:before {
    content: "\2022"; /* Add bullet point */
    color: #333;
    font-size: 16px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
    