.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    background-color: #fff;
    color: #1E1E1E;
  }
  
  .burger {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      right: 0;
      height: 100vh;
      top: 5rem;
      background-color: #1E1E1E;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: all 0.5s ease;
    }
  
    .nav-links li {
      opacity: 0;
    }
  
    .burger {
      display: block;
      cursor: pointer;
    }
    
    .line1, .line2, .line3 {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      transition: all 0.3s ease;
    }
  
    .nav-active {
      transform: translateX(0);
    }
  
    .nav-links li {
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .toggle .line2 {
      opacity: 0;
    }
  
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
  